In [7]:
import csv
import pandas as pd
import seaborn as sns


heartds = pd.read_csv('https://raw.githubusercontent.com/orionmc/SoftEng0/main/heart0.csv')
heartds.tail(6)


#heartds.to_csv(r'c:\mytestprj\heart0.csv', index=False)

,age,sex,cp,trtbps,chol,fbs,rest_ecg,thalachh,oldpeak,slp,caa,thall,exng,output
297,44,1,0,112,290,0,0,153,0.0,2,1,2,0,0
298,55,1,0,132,353,0,1,132,1.2,1,1,3,1,0
299,60,1,0,130,253,0,1,144,1.4,2,1,3,1,0
300,59,1,0,164,176,1,0,90,1.0,1,2,1,0,0
301,57,1,0,110,335,0,1,143,3.0,1,1,3,1,0
302,50,1,2,140,233,0,1,163,0.6,1,1,3,0,0